<ion-header>
  <mapfre-header [title]="'Mapfre Header'" [menu]="true" [rightIcons]="['search']" [actionMenu]="['chatbubbles', 'opcion1', 'opcion2']">
  </mapfre-header>
</ion-header>

<ion-content padding>

  <button ion-button (click)="goToPage()">{{'home.button-1' | translate}}</button>

  <button ion-button (click)="displayNotification()">mostrar</button>

</ion-content>

<ion-footer>

</ion-footer>
